@import "./main.scss";

// -------------------------------------------------- Global Styles -------------------------------------------------- //
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-weight: 300;
  font-size: 22px;
}
@media screen and (max-width: $breakpoint-tablet) {
  html {
    font-size: calc(15px + 4 * ((100vw - 768px) / 360));
  }
}
@media screen and (max-width: $breakpoint-mobile) {
  html {
    font-size: calc(19px + 6 * ((100vw - 320px) / 680));
  }
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 0;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:root {
  scrollbar-color: #999 white;
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #16248b;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }
}
