$breakpoint-tablet: 1128px;
$breakpoint-mobile: 768px;

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff; /* Adjusted for consistency */
  --primary-text-color: #343a40; /* Adjusted for consistency */
  --accent-grey: #f8f9fa;
  --accent-blue: #17a2b8;

  /// * Event Colors * ///
  --success-color: #10b981; // Green
  --error-color: #ff4567;
  --warning-color: #f59e0b; // Yellow

  /// * Blockchain Themes * ///
  --bitcoin-orange: #f7931a;
  --ethereum-purple: #627eea;
  --polkadot-pink: #e6007a;
  --cosmos-blue: #2e3148;
}
:root {
  .dark {
    --primary-color: #29b6f6;
    --secondary-color: #455a64;
    --background-color: #121212;
    --primary-text-color: #cfd8dc;
    --accent-grey: #263238;
    --accent-blue: #00bcd4;
  }
}
