$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$font-size-tiny: 0.6rem;
$font-size-script: 0.65rem;
$font-size-body: 0.85rem;

$font-size-h5: 0.8rem;
$font-size-h4: 0.85rem;
$font-size-h3: 1rem;
$font-size-h3-05: 1.75rem;
$font-size-h2: 2.5rem;
$font-size-h1: 3rem;



$primary-color: #3A506B; // Dark Blue
$secondary-color: #1E3D58; // Deeper Blue
$accent-color: #D9B08C; // Warm Beige
$background-color: #F1F1F1; // Light Gray
$primary-text-color: #212121; // Dark Gray
$secondary-text-color: #616161; // Gray


$background-color-light: #FEFEFE; 
$background-color-dark: #18181A; 
$background-color-dark-secondary: #191A1C;


$font-dark: #010100;

$black: #0e0f0e;
$shark: #1C1C1D;
$octopus: #121416;
$scorpion: #5C5B5C;
$corduroy: #636463;
$greyFish: #999999;
$snow: #FFFEFE;


// Additional colors if needed
$success-color: #10B981; // Green
$error-color: #EF4444; // Red
$warning-color: #F59E0B; // Yellow


$breakpoint-tablet: 1128px;
$breakpoint-mobile: 768px;
