@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--stroke) var(--black);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(black);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--stroke);
  border-radius: 14px;
  border: 3px solid var(--stroke);
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color: #404462;
  --ei-primary-faded: #a6aec2;
  --border-color: #242438;

  /* Generated CSS */
  /* Color styles */
  --opacity_-white: rgba(255, 255, 255, 0.6000000238418579);
  --l--grey: rgba(166, 174, 194, 1);
  --violet: rgba(140, 114, 245, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(9, 9, 10, 1);
  --stroke: rgba(36, 36, 56, 1);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
